// ■■■■■ ПЕРЕМЕННЫЕ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
$fontFamily: "Rubik", sans-serif;
//=======================================================================
$minWidth: 320;
$maxWidth: 1600;
$containerWidth: 1170;
$containerPadding: 15;
$maxWidthContainer: $containerWidth + ($containerPadding * 2);